{% load static %}
<!-- https://learndjango.com/tutorials/django-login-and-logout-tutorial -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    	<img src={% static "images/logo.png" %} alt="" width="30" height="24" class="d-inline-block align-text-top">
      		École Ste-Gertrude
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      	{% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link	" aria-current="page" href="{% url 'extract:search' %}">Recherche étudiant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'extract:maj_donnée' %}">Mise à jour donnés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'extract:aide' %}">Aide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

